body {
	font-size: 18px;
	font-family: Arial, Sans-Serif;
	background-color: #55d595;
	color: #00263c;
	padding: 0 20px;
	margin: 0;
	height:90%;
	text-align: center;
}

html {
	height:90%;
}

a:link { text-decoration: none; color:#0000c0; } 
a:visited { text-decoration: none; color:#0000c0; }
a:hover { color: #ff0000; }
a:active { color:#ff0000; }

table {
	background-color: #339966;
	border-spacing: 2px;
	/*border-color:#ffffff;*/
	/*color: #ffffff;*/
}

td {
	/*background-color: #55d595;*/
	background-color: #eeeeee;
}

legend {
	font-size: 20px;
}

#full_container {
	min-height:100%;
	position:relative;
}

#results {
	/*height: 500px;*/
	height:40vh;
	overflow:auto;
}

#footer_div {
	position:absolute;
	bottom:0;
	width:90%;
	height:60px
}

#top {
	background-color: #44a970;
	height: 70px;
	width: 720px;
	line-height: 70px;
	text-align: left;
	margin-bottom: 10px;
}

#menu {
	position: fixed;
	width: 120px;
	/*height:100px;*/
	left: 20px;
	font-size: 11px;
	background-color: #339966;
	/*background-color: #55d595;*/
	border-size: 3px;
	border-style: solid;
	border-color: #339966;
	color: #00263c;
	padding: 13px;
	text-align: left;
	margin: 0;
}

#content {
	font-size: 13px;
	margin-left: 210px;
	/*background-color: #459173;*/
	background-color: #55d595;
	color:#000000;
	padding: 10px;
	overflow: auto;
	text-align: left;
	padding-bottom:60px;
}

#container {
	word-wrap: break-word;
	position: justify;
	width: 80%;
	height: auto;
	overflow-x: auto;
}

#abstract {
	font-weight: bold;
	font-size: 20px;
}

#download {
	color: red;
	font-size: 32px;
	font-weight: bold;
}